<div class="input-group mb-3">
  <input type="text"
     class="form-control"
     [(ngModel)]="name"
     placeholder="Search term ..."
     aria-label="Recipient's username"
      aria-describedby="basic-addon2">
  <div class="input-group-append">

    <button class="btn btn-outline-primary"
      type="button"
      (click)="currentSearch()"
      >Search</button>
    </div>
  </div>


    <div *ngFor="let newSearch of search; let i = index">
     <p appRandomBGColor>{{ search[i]}}</p>
</div>
